<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book store application</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>This is common code</div>
        @RenderBody()
    </div>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
       // alert("Page loaded");
    });

</script>

