
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Welcome to book store</h1>
        <p class="text-info">Current time is @DateTime.Now </p>
        <p>logo test</p>
        <img src="~/logos/Pizza.png" class="logo" alt="Pizza" />
        <p>logo from custom static folder </p>
        <img src="~/AppStaticFiles/logo/tata.png" class="logo" alt="Pizza" />
        <input type="button" name="Bootstapbutton" value="Bootstap button" class="btn btn-danger" />
    </div>

    
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
       // alert("Page loaded");
    });

</script>
