
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to book store</h1>
    <p>Current time is @DateTime.Now </p>
    <p>Normal calculate : @(3 + 2)</p>
    @{ 
        int first = 3;
        int second = 2;
        int result = first + second;
    }
    <p>Multiline code calculate : @result</p>
    <p>escape character kaustubh@mail.com : @@kaustubhsonar </p>
</body>
</html>
