@using Study.dotnetcoreMVC.Models
@model IEnumerable<BookModel>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
        <div class="card" style="width: 18rem;">            
            <img class="card-img-top" src="~/images/defaultCard.svg" alt="Card image cap"/>
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Description</p>
                <a href="/book/getbook/@book.Id" class="btn btn-primary" >View Details</a>
                <small class="text-muted">@book.AuthorName</small>
            </div>
        </div>
        }


    </div>
</div>
