
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBooks</title>
</head>
<body>
    Return all the books 
</body>
</html>
